html,
body {
	height: 100%;
}

html {
	background-color: black;
}

body {
	background-color: white;
	border-radius: 5px;
	margin: 5% 5%;
	padding-bottom: 0px;
}


.intro {
	text-align: left;
	font-family: 'Montserrat', bold,sans-serif;
	font-size: 12vw;
	padding-top: 2%;
	padding-left: 5%;
}

.footer {
	padding-right:2%;
	text-align: right;
	font-family: Roboto;
	font-weight: 700;
}



.nav li {
	display:inline;
	float:right;
}

.nav li a {
	padding: .3em .8em;
	display: block;
	text-align: center;
	font-family: Roboto,sans-serif;
	font-size: 1em;
	font-weight: 700;
	text-decoration: none;
	color:black;
}

.nav li a:hover {
	color: red;
}
	


.menuitem {
	padding:1%;
	text-align: center;
	
}

.iconbar {
	position:fixed;
	width: 100%;
	top:50%;
}

.iconbar li {
	list-style-type: none;
}

.iconbar a img{
	float:right;
	position: sticky;
}

.iconbar img {
	background-color: transparent;
	border-radius: 100%;
}

.iconbar img:hover {
	background-color: black;
}


.nav {
	padding-top: 2%;
	padding-right: 2%;
}
