html,
body {
  height: 100%;
}

html {
	background-image: image("");
}

body {
	
}


.intro {
	text-align: left;
	font-family: 'Montserrat', bold,sans-serif;
	font-size: 8rem;
	
}

.footer {
	text-align: right;
}

ul {
	list-style-type: none;
	
}

li {
	display:inline;
	float:right;
}
