html,
body {
  height: 100%;
}

html {
	background-image: image("");
}

body {
	
}


.intro {
	text-align: left;
	font-family: 'Montserrat', bold,sans-serif;
	font-size: 8rem;
	padding-top: 2rem;
	padding-left: 2rem;
	
}

.footer {
	text-align: right;
	font-family: Arial;
}



.nav li {
	display:inline;
	float:right;
}

.nav li a {
	padding: .3em .8em;
	display: block;
	text-align: center;
	font-family: Roboto,sans-serif;
	font-size: 1em;
	font-weight: 700;
	text-decoration: none;
	color:black;
}

.nav li a:hover {
	color: red;
}
	

.iconbar li {
	list-style-type: none;
	
}

.menuitem {
	padding:1%;
	text-align: center;
	
}

.iconbar {
	position:fixed;
	float: right;
	width: 100%;
}
