html,body {
	margin:0;
	padding:0;
}


.main {
	width:200px;
	height:200px;
	margin:0;
	padding:0;
	float:left;
}

.quarter {
	width: 80%;
	height:80%;
	transition:background-color 0.2s ease-in-out;
	display:block;
	float: left;
	
}
.quarter:hover {
	background-color:pink;
}
.quarter1 {
	bottom:0;
	right:0;
	background-color:#e5ffff;
	border-radius:0 0 100% 0 ;
	width: 70%;
	height:70%;
}
.quarter2 {
	bottom:0;
	right:0;
	background-color:#ccffff;
	border-radius:0 0 100% 0 ;
	width: 60%;
	height:60%;
	position:relative;
	bottom:70%;
}
.quarter3 {
	bottom:0;
	right:0;
	background-color:#b2ffff;
	border-radius:0 0 100% 0 ;
	width: 50%;
	height:50%;
	position:relative;
	bottom:130%;
}
.quarter4 {
	bottom:0;
	right:0;
	background-color:#99ffff;
	border-radius:0 0 100% 0 ;
	width: 40%;
	height:40%;
	position:relative;
	bottom:130%;
	right:50%;
}
